body {
    background-color: #000000;
    color: #404040;
    margin: 0 !important;
    padding: 0 !important;
}

.canvas {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 30, 50, 0.5);
    touch-action: none;
    z-index: 3px;
}

.button {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  z-index: 4;
}

.button:hover {
  transform: scale(1.5, 1.5);
  background-color: #2196f3;
  box-shadow: 0px 0px 50px rgba(33, 150, 243, 0.3);
}

.wallpaper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1px;
}

.particle {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 100px;
  top: 100px;
  opacity: 0.0;
  display: none;
  z-index: 2px;
}

/* Disable hovering for large touch devices like iPad*/
@media (hover: none) {
  .button:hover {
    transform: scale(1.0, 1.0);
  }
}
